# Initial Data Explore in Stanford Open Policing Project Hartford

In [2]:
# Grabbing libraries 
import matplotlib.pyplot as plt
import numpy as np
import pandas
import csv
import os

plt.rcParams['figure.figsize'] = [16, 8]; # Sets default figsize [width, height] (apparently in in., though it seems bigger than it actually is...)

# Setup: Local data directory (this could possibly be changed to an online database as we get smarter)
# Cannot use a normal string as a path, have to have the r to convert to raw string
direc = r'C:\Users\gsakr\Dropbox\Police_Proj_Data' 

# define the path to the file we are playing with 
loc_pth = os.path.join(direc, 'Stanford_OPP', 'ct_hartford_2020_04_01.csv')

# Building a pandas dataframe from the .csv file
df = pandas.read_csv(loc_pth)

# Display the top of the data 
df.head()

# Display the bottom of the data
df.tail()

,raw_row_number,date,time,location,lat,lng,district,subject_age,subject_race,subject_sex,...,outcome,contraband_found,search_conducted,search_vehicle,search_basis,reason_for_stop,raw_subject_race_code,raw_subject_ethnicity_code,raw_search_authorization_code,raw_intervention_disposition_code
0,1,2013-10-13,15:21:00,LINNMORE ST AT ROGER,41.732189,-72.699760,SOUTH WEST,38.0,hispanic,female,...,citation,NaN,False,False,NaN,Stop Sign,W,H,N,I
1,2,2013-10-24,01:12:00,HAWTHORN STREET @ IMLAY STREET,41.764621,-72.695362,ASYLUM HILL,20.0,black,male,...,citation,NaN,False,False,NaN,Defective Lights,B,N,N,I
2,3,2013-10-26,10:06:00,NEW PARK MIRRILL,41.747837,-72.712933,PARKVILLE,26.0,white,female,...,citation,NaN,False,False,NaN,Traffic Control Signal,W,N,N,I
3,4,2013-10-26,18:06:00,nfew park at merrill st,41.748069,-72.712641,PARKVILLE,26.0,white,female,...,citation,NaN,False,False,NaN,Traffic Control Signal,W,N,N,I
4,5,2013-10-26,19:56:00,SUMMIT ST AT ZION ST,41.753945,-72.693278,FROG HOLLOW,39.0,white,male,...,citation,NaN,False,False,NaN,Stop Sign,W,N,N,I

,raw_row_number,date,time,location,lat,lng,district,subject_age,subject_race,subject_sex,...,outcome,contraband_found,search_conducted,search_vehicle,search_basis,reason_for_stop,raw_subject_race_code,raw_subject_ethnicity_code,raw_search_authorization_code,raw_intervention_disposition_code
18434,18641,2016-09-29,16:10:00,FARMINGTON AVE AND S MARSHALL ST,41.767700,-72.698535,ASYLUM HILL,52.0,white,female,...,citation,NaN,False,False,NaN,Cell Phone,W,N,N,I
18435,18623|18625,2016-09-29,17:13:00,55 BOND ST,41.744479,-72.675709,BARRY SQUARE,41.0,black,male,...,warning,NaN,False,False,NaN,Stop Sign,B,N,N,V
18436,18621|18628,2016-09-29,18:30:00,298 PARK ST,41.757790,-72.681296,SOUTH GREEN,22.0,hispanic,male,...,NaN,NaN,False,False,NaN,Administrative Offense,W,H,N,M
18437,18643,2016-09-29,20:09:00,WARD ST AND LAWRENCE ST,41.756122,-72.688085,FROG HOLLOW,35.0,black,male,...,arrest,False,True,True,probable cause,Moving Violation,B,N,O,M
18438,18639,2016-09-29,22:29:00,AFFLECK ST AND PARK ST,41.758104,-72.689292,FROG HOLLOW,44.0,white,male,...,warning,NaN,False,False,NaN,Speed Related,W,N,N,W